body{
    background: #f5f5f5;
}
.rightMain{
    position: absolute;
    left: 100px;
    top: 60px;
    width:90%;
    min-width: 900px;
    min-height: 1000px;
    background: #f5f5f5;
    box-sizing: border-box;
    .w{
        width: 85%;
        height: 100%;
        background: #f5f5f5;
        min-width: 1100px;
        margin: 70px auto;
        .save-button{
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 100px;
            button{
                border: 1px solid #dcdfe6;
                font-weight: 600;
                box-sizing: border-box;
                outline: 0;
                margin: 0;
                font-size: 24px;
                border-radius: 4px;
                width: 200px;
                height: 60px;
                // display: flex;
                text-align: center;
                background: #ff7d63;
                color: #ffffff;
            }
        }
        .dishes-font{
            color: #5070ff;
            font-size: 22px;
            font-weight: 500;
        }
        .showName{
            margin-top: 30px;
            height: 40px;
            p{
                color: #a2a7b7;
            }
        }
        .table{
             margin-top: 50px;
             width: 100%;
             height: 70px;
             position: relative;
            //  border-bottom: 1px solid #e8e2e1;
            
             .search-input{
                 width: 200px;
                 border-radius: 4px;
                 border-top-right-radius: 0;
                 border-bottom-right-radius: 0;
                 -webkit-appearance: none;
                 background-color: #fff;
                 background-image: none;
                 border-radius: 4px;
                 border: 1px solid #dcdfe6;
                 -webkit-box-sizing: border-box;
                 box-sizing: border-box;
                 color: #606266;
                 display: inline-block;
                 font-size: inherit;
                 height: 40px;
                 line-height: 40px;
                 outline: 0;
                 padding: 0 15px;
                 -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                 transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                z-index: 999;
    
             }
             .search-button{
                height: 40px;
                position:absolute;
                left:210px;
                width:40px;
                border-top-right-radius: 10px;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 10px;
                line-height: 1;
                white-space: nowrap;
                cursor: pointer;
                background: #f8e0db;
                border: 1px solid #dcdfe6;
                color: #606266;
                -webkit-appearance: none;
                text-align: center;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                outline: 0;
                margin: 0;
                -webkit-transition: .1s;
                transition: .1s;
                font-weight: 500;
                font-size: 30px;
                z-index: 999;
                i{
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: url('../assets/images/日期.png') no-repeat;
                    background-size: 25px 25px;
                }
             }
            
        .button-group{
            position: absolute;
            right: 0;
            top:0;
            height: 50px;
            width: 300px;
            // background: pink;
            p{
                font-family: 'Microsoft YaHei';
               color: #606266;
               font-size: 18px;
               font-weight: 800;
               line-height: 30px;
               float: left;
               
            }
            span{
                float: right;
                width: 25px;
                height: 25px;
                display: block;
                margin-top: 3px;
                // background: url('../assets/images/单选框未选.png') no-repeat;
                background-size: 25px 25px;
            }
          }
        }
       
    }

    .tableData{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        .box{
            flex: 1;
            height: 380px;
            // border: 1px solid #ffffff;
            display: flex;
            border-radius: 7px;
            margin-left: 25px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
           background: #ffffff;
           position: relative;
           //  width: 30%;
           .box-top{
            display: flex;
            width: 100%;
            height: 50px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
                i{
                    width: 30px;
                    height: 20px;
                    display: flex;
                    background: url('../assets/images/添加菜品.png') no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    right: 15px;
                   
                }
           }
        //    早餐
           .ul1::-webkit-scrollbar{
            width:7px;
            height:7px;
            background-color: #f0f0f0;
            }
            .ul1::-webkit-scrollbar-thumb{
                background: #fee05c;
                border-radius:5px;
            }
        // 午餐
        .ul2::-webkit-scrollbar{
            width:7px;
            height:7px;
            background-color: #f0f0f0;
            }
            // ul::-webkit-scrollbar-track{
            //     background: #fee05c;
            //     border-radius:2px;
            // }
            .ul2::-webkit-scrollbar-thumb{
                background: #ff7d63;
                border-radius:5px;
            }
        // 晚餐
        .ul3::-webkit-scrollbar{
            width:7px;
            height:7px;
            background-color: #f0f0f0;
            }
            // ul::-webkit-scrollbar-track{
            //     background: #fee05c;
            //     border-radius:2px;
            // }
            .ul2::-webkit-scrollbar-thumb{
                background: #8c97cb;
                border-radius:5px;
            }
           ul{
            // display: flex;
               width: 90%;
               margin-top: 20px;
               height: 280px;
            //    background: blue;
               overflow:auto;
            
            .box-bottom{
                width: 90%;
                height: 60px;
               margin: auto;
                // background: pink;
                border-bottom: 1px solid #e8e2e1;
                display: flex;
                justify-content: space-around;
                align-items: center;
               a{
                   display: flex;
                   width: 50px;
                   height: 50px;
                   position: relative;
                 .hoverShow{
                    width: 250px;
                    height: 150px;
                    background: #fee05c;
                    position: absolute;
                    top:15px;
                    left: 25px;
                    z-index: 999;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;  
                    border-radius:10px;
                    border-top-left-radius: 0px;
                    p{
                        font-size: 16px;
                    }
                    .car{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100%;
                        margin-top: 10px;
                        button{
                           
                            width: 90px;
                            height: 30px;
                            border: none;
                            background: #606266;
                            color: #fff;
                            text-align: center;
                            line-height: 30px;
                            font-size: 14px;
                            font-weight: 600;
                            border-radius: 5px;
                            
                        }
                    }
                    .num{
                        display: flex;
                        width: 100px;
                    }
                }
                   img{
                       width: 100%;
                       height: 100%;;
                       border-radius: 50%;
                   }
               }
               p{
                   color: #606266;
                   font-size: 18px;
                   font-weight: 800;
               }
            }
           }
           
       }
       .box:first-child{
           margin-left: 0px;
       }
       .breakfast  .box-top{
            //  background: #fee05c;
            
            .box-radius{
                width: 40px;
                height: 60px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                 background: #fee05c;
                 position: absolute;
                 left: 15px;
                 top: 0px;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
            span{
                width: 30px;
                height: 30px;
                display: flex;
                background: url('../assets/images/早.png') no-repeat center center;
                background-size: cover;
                z-index: 999;
            }
                 
            }
          
            p{
                    font-size: 24px;
                    color: #000;
                    font-weight: 600;
                    position: absolute;
                    left: 50%;
                    margin-left: -12px;
            }
        }

        .lunch  .box-top{
            .box-radius{
                width: 40px;
                height: 60px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                 background: #ff7d63;
                 position: absolute;
                 left: 15px;
                 top: 0px;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
            span{
               width: 30px;
               height: 30px;
               display: flex;
               background: url('../assets/images/午.png') no-repeat center center;
               background-size: cover;
           }
        }
           p{
                   font-size: 24px;
                   color: #000;
                   font-weight: 600;
                 
           }
       }

       .dinner  .box-top{
        .box-radius{
            width: 40px;
            height: 60px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
             background: #8c97cb;
             position: absolute;
             left: 15px;
             top: 0px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
       
        span{
           width: 30px;
           height: 30px;
           display: flex;
           background: url('../assets/images/晚.png') no-repeat center center;
           background-size: cover;
       }
    }
       p{
               font-size: 24px;
               color: #000;
               font-weight: 600;
       }
   }
    }
    
    
    
}