@font-face {
    font-family: 'iconfont';  /* project id 862147 */
    src: url('//at.alicdn.com/t/font_862147_021ojlkr6sl6.eot');
    src: url('//at.alicdn.com/t/font_862147_021ojlkr6sl6.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_862147_021ojlkr6sl6.woff') format('woff'),
    url('//at.alicdn.com/t/font_862147_021ojlkr6sl6.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_862147_021ojlkr6sl6.svg#iconfont') format('svg');
  }
  .leftMenu{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100px;
    // min-height: 990px;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    overflow: hidden;
     border-right: 1px solid #e8e2e1;
     background: #ffffff;
    ul{
        width: 100%;
        li{
            width: 100%;
            height: 70px;
            margin-top: 50px;
            a{
                display: block;
                width: 100%;
                height: 60px;
                text-align: center;
                position: relative;
                &:hover{
                   
                }
                .dishes{
                    font-size: 50px;
                    background-image: url('../assets/images/用户反馈.png');
                    // background-size: 45px 40px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 50px;
                    height: 50px;
                    display: block;
                    margin: auto;
                    position: absolute;
                    top:50%;
                    margin-top: -24px;
                    left: 50%;
                    margin-left: -17.5px;
                    &:hover{
                        // color: #ff7d63;
                        // background-image: url('../assets/images/用户反馈.png');
                    }
                }
            }
        }
    }
}
